* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 960px;
  margin:50px auto;
  
}
.L {
  padding: 20px;
  list-style: none
}
.L:nth-child(odd) {
  background-color: #eee;
}
.p-list {
  flex-wrap: wrap;
  width: 960px;
  height: 720px;
  
  
}
.p {
  width: 30%;
  height: 200px;
  background-color: #ffd700;
  margin-right: 5%;
  margin-bottom: 40px;
}
.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: #ff8c00;
}