* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  
  width: 960px;
  margin:50px auto;
}
.p-list {
  margin:50px auto -40px;
  
}
.L {
  padding: 20px;
  list-style: none
}
.L:nth-child(odd) {
  background-color: #eee;
}
.p-list {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 720px;
  margin-bottom: 50px;
  
  
}
.p {
  width: 30%;
  height: 200px;
  background-color: #ffd700;
  margin-right: 5%;
  margin-bottom: 40px;
}
.p:first-child,
.p:nth-child(5),
.p:last-child {
  background-color: #ff8c00;
}
.p:nth-child(3n) {
  margin-right: 0;
}